.card-logo {
  grid-column: 1/5;
  grid-row: 1/5;
}

.card-logo .card-front {
  background-color: #fff;
}

.card-js {
  grid-column: 5/9;
  grid-row: 1/7;
}

.card-js .card-front {
  background-color: #f7cf6a;
}

.card-php {
  grid-column: 9/17;
  grid-row: 1/4;
}

.card-php .card-front {
  background-color: #8893c0;
}

.card-dotnet {
  grid-column: 9/14;
  grid-row: 4/9;
}

.card-dotnet .card-front {
  background-color: #642077;
}

.card-events {
  grid-column: 14/17;
  grid-row: 4/6;
}

.card-events .card-front {
  background-color: #2d99ff;
}

.card-qa {
  grid-column: 1/5;
  grid-row: 5/9;
}

.card-qa .card-front {
  background-color: #52bf77;
}

.card-blog {
  grid-column: 14/17;
  grid-row: 6/8;
}

.card-blog .card-front {
  background-color: #0443a3;
}

.card-java {
  grid-column: 5/9;
  grid-row: 7/9;
}

.card-java .card-front {
  background-color: #e12b4c;
}

.card-contacts {
  grid-column: 14/17;
  grid-row: 8/9;
}

.card-contacts .card-front {
  background-color: #00265f;
}


@media all and (max-width: 1000px) {

  .card-logo {
    grid-column: 1/8;
    grid-row: 1/9;
  }

  .card-js {
    grid-column: 8/13;
    grid-row: 1/9;
  }

  .card-php {
    grid-column: 9/17;
    grid-row: 9/13;
  }

  .card-dotnet {
    grid-column: 9/17;
    grid-row: 13/17;
  }

  .card-events {
    grid-column: 13/17;
    grid-row: 1/4;
  }

  .card-qa {
    grid-column: 1/9;
    grid-row: 13/17;
  }

  .card-blog {
    grid-column: 13/17;
    grid-row: 4/7;
  }

  .card-java {
    grid-column: 1/9;
    grid-row: 9/13;
  }

  .card-contacts {
    grid-column: 13/17;
    grid-row: 7/9;
  }
}
