.cards-wrapper {
  margin: 7rem auto 3rem;
  width: 1200px;
  height: 600px;
  display: grid;
  grid-template-columns: 6.25%;
  grid-template-rows: 12.5%;
  grid-gap: 0;
  font-size: 20px;
}

.card-inner,
.card-front,
.card-back {
  width: 100%;
  height: 100%;
}

.card-front,
.card-back {
  position: absolute;
}

.card-inner {
  position: relative;
}

.card-back {
  overflow-y: auto;
  background-color: #fff;
}

.card-back-inner {
  width: 100%;
  min-height: 100%;
  padding: 0.5em;
}

.card-front,
.card-back-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-title-black {
  color: #000;
}

.card-title-white {
  color: #fff;
}

.card-title-huge {
  font-size: 5em;
}

.card-title-middle {
  font-size: 2.5em;
}

.card-title-small {
  font-size: 1.2em;
}

.card-title-bold {
  font-weight: bold;
}

.card-title-normal {
  font-weight: normal;
}

.card-title-italic {
  font-style: italic;
}

.card-title-bottom-right {
  position: absolute;
  bottom: 0.1em;
  right: 0.2em;
}

.card-title-image {
  width: 8em;
  height: 8em;
}

.card-body-bold {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

.card-body-small {
  line-height: 1em;
  height: 100%;
}

.card-body-icons a {
  cursor: pointer;
  color: #000;
  font-size: 1.8em;
  margin: 0 0.1em;
}

.card-body-icons a:hover {
  color: #38d3ff;
}

.card-body-button button {
  background-color: #3db1ff;
  color: #fff;
  padding: 0.5em 2.5em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card-body-button button:hover {
  background-color: #2c7eb6;
}

.card-features-wrapper {
  font-size: 1em;
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-feature {
  border: 1px #aaa solid;
  padding: 0.5em 1em;
  margin: 0.5em;
  text-align: center;
  transition: transform 0.2s ease-out 0s;
}

.card-feature:hover {
  transform: scale(1.1);
}

@media all and (max-width: 1500px) {

  .cards-wrapper {
    width: 80vw;
    height: 40vw;
  }

  .cards-wrapper {
    font-size: 1.3vw;
  }
}

@media all and (max-width: 1000px) {

  .cards-wrapper {
    width: 90vw;
    height: 90vw;
    grid-template-rows: 6.25%;
  }

  .cards-wrapper {
    font-size: 1.9vw;
  }
}
