/*
 * FLIP
 */

/*
 * FLIP BASE
 */

.card-flip {
  perspective: 1000px;
}

.card-flip .card-inner {
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card-flip .card-front,
.card-flip .card-back {
  backface-visibility: hidden;
}

/*
 * HORIZONTAL RIGHT FLIP ANIMATION
 */

.card-horizontal-right-flip:hover .card-inner,
.card-horizontal-right-flip .card-back {
  transform: rotateY(180deg);
}

/*
 * HORIZONTAL LEFT FLIP ANIMATION
 */

.card-horizontal-left-flip:hover .card-inner,
.card-horizontal-left-flip .card-back {
  transform: rotateY(-180deg);
}

/*
 * DIAGONAL FLIP ANIMATION
 */

.card-diagonal-flip:hover .card-inner,
.card-diagonal-flip .card-back {
  transform: rotate3d(1, 1, 0, 180deg);
}

/*
 * VERTICAL BOTTOM FLIP ANIMATION
 */

.card-vertical-bottom-flip:hover .card-inner,
.card-vertical-bottom-flip .card-back {
  transform: rotateX(180deg);
}

/*
 * VERTICAL TOP FLIP ANIMATION
 */

.card-vertical-top-flip:hover .card-inner,
.card-vertical-top-flip .card-back {
  transform: rotateX(180deg);
}

/*
 * TOGGLE
 */

/*
 * TOGGLE BASE
 */

.card-toggle .card-front {
  overflow: hidden;
  z-index: 2;
}

/*
 * TOGGLE RIGHT TOP ANIMATION
 */

.card-toggle-right-top .card-front {
  top: 0;
  right: 0;
  transition: width 0.4s, height 0.4s;
}

.card-toggle-right-top:hover .card-front {
  width: 0;
  height: 0;
}

/*
 * TOGGLE RIGHT ANIMATION
 */

.card-toggle-right .card-front {
  right: 0;
  transition: width 0.4s;
}

.card-toggle-right:hover .card-front {
  width: 0;
}

/*
 * TOGGLE LEFT ANIMATION
 */

.card-toggle-left .card-front {
  left: 0;
  transition: width 0.4s;
}

.card-toggle-left:hover .card-front {
  width: 0;
}

/*
 * TOGGLE DOWN ANIMATION
 */

.card-toggle-down .card-front {
  bottom: 0;
  transition: height 0.4s;
}

.card-toggle-down:hover .card-front {
  height: 0;
}
