@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.header {
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  box-shadow: 0 0 10px #c0c0c0;
  animation: 0.5s ease-out 0s slideInFromTop;
}

.header-inner {
  width: 1200px;
  margin: 0 auto;
  padding: 1em;
}

.header-logo {
  float: left;
  height: 2em;
}

.navigation {
  float: right;
  display: flex;
}

.notification {
  padding: 0.5em;
  margin-right: 0.5em;
}

.dropdown-wrapper {
  position: relative;
}

.notification-icon {
  cursor: pointer;
  color: #b0b0b0;
}

.notification-icon:hover {
  color: #808080;
}

.dropdown-checkbox {
  display: none;
}

.menu-label {
  cursor: pointer;
  background-color: #f8991c;
  color: #fff;
  display: block;
  padding: 0.5em;
  width: 2em;
  height: 2em;
  text-align: center;
  vertical-align: center;
  border-radius: 50%;
}

.dropdown,
.dropdown-sub {
  display: none;
  background-color: #fff;
  position: absolute;
  padding: 1em;
}

.dropdown {
  box-shadow: 0 0 15px #c0c0c0;
  width: 14em;
  right: 0;
  top: 2.5em;
}

.dropdown-sub {
  box-shadow: 0 0 20px #c0c0c0;
  width: 12em;
  right: 12em;
  top: 0;
}

.dropdown-checkbox:checked + label + .dropdown {
  display: block;
}

.dropdown-title {
  font-size: 1.2em;
  font-weight: normal;
  color: #707174;
  text-align: center;
}

.dropdown-info {
  font-size: 1em;
  font-weight: normal;
  color: #939498;
  text-align: center;
  margin: 0.3em 0;
}

.dropdown-divider {
  border: none;
  width: 80%;
  height: 1px;
  color: #a1a2a6;
  background-color: #a1a2a6;
  margin: 0 auto;
}

.dropdown-list,
.dropdown-sub-list {
  list-style-type: none;
  text-align: center;
}

.dropdown a {
  cursor: pointer;
  text-decoration: none;
  padding: 0.5em 0.3em;
  display: block;
  color: #000;
}

.dropdown a:hover {
  background-color: #e8e8e8;
}

.dropdown-item {
  position: relative;
}

.dropdown-item:hover .dropdown-sub {
  display: block;
}

@media all and (max-width: 1500px) {
  .header-inner {
    width: 80vw;
  }
}

@media all and (max-width: 1000px) {
  .header-inner {
    width: 90vw;
  }
}
