* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  font-family: Arial, serif;
  font-size: 16px;
  background-color: #e8e9ec;
}

.clear {
  clear: both;
}
