.messages-wrapper {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 20em;
  z-index: 6;
}

.message {
  padding: 1em;
  margin: 1em;
  color: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.message-header,
.message-body {
  font-size: 1em;
}

.message-icon-wrapper {
  width: 20%;
}

.message-content-wrapper {
  width: 80%;
}

.message-icon {
  font-size: 2em;
}

.message-error {
  background-color: rgba(151, 30, 0, 0.8);
}

.message-success {
  background-color: rgba(0, 108, 43, 0.8);
}

.message-warning {
  background-color: rgba(161, 135, 0, 0.8);
}
